/* Header.css */
.header {
  background-color: #5c535c;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid #e3e3e3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.header h1 {
  font-size: 1.8rem;
  color: #ffffff;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.nav-links a {                
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #3498db;
  color: rgb(231, 226, 226);
}

a>span{
  display: none;
}