.order-container {
    background-color: #f0eeee;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.order-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #906aab;
}

.order-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(64, 8, 8, 0.1);
  background-color: #dad2dd;
}

.order-info {
  margin-bottom: 1rem;
}

.order-info p {
  margin: 0.3rem 0;
  font-weight: 500;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.order-table th,

.order-table td {
  padding: 0.75rem;
  border: 1px solid #a78ccb;
  text-align: center;
}

.order-table th {
  background-color: #c2a5c1;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .order-container {
    padding: 1rem;
  }

  .order-table th,
  .order-table td {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}
